node_modules
dist
.wrangler
.dev.vars
.wrangler.toml
wrangler.toml


# Change them to your taste:
package-lock.json
yarn.lock
pnpm-lock.yaml
bun.lockb



# dependencies
node_modules
.pnp
.pnp.js

# turbo
.turbo/
.turbo/

# testing
coverage

# next.js
.next/
out/

# build
build
dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# email
.react-email/

.vscode
.contentlayer
package-lock.json
pnpm-lock.yaml

#API
.wrangler.toml
wrangler.toml
